{
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "quoteProps": "as-needed",
  "plugins": [
    "prettier-plugin-css-order",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ]
}
