<app-block class="space-y-4">
  <app-block-headline
    >Blog -
    <app-link url="https://manuel-rauber.com">manuel-rauber.com</app-link>
  </app-block-headline>

  @if (posts(); as posts) {
    <div class="space-y-1.5">
      @for (post of posts.data; track post.published_at) {
        <a class="block" target="_blank" [href]="post.url">
          <app-experience>
            <ng-container headline>{{ post.title }}</ng-container>
            <ng-container subline>
              <app-icon-text [icon]="faTag">{{
                post.primary_tag.name
              }}</app-icon-text>
              <app-icon-text [icon]="faCalendar">{{
                post.published_at | date
              }}</app-icon-text>
              <app-icon-text [icon]="faClock"
                >{{ post.reading_time }} min</app-icon-text
              >
            </ng-container>

            {{ post.excerpt }}
          </app-experience>
        </a>
      }
    </div>
    <div class="flex pb-2">
      <div class="flex flex-1 items-center">
        <app-divider class="w-full" />
      </div>
      <div class="mx-4 text-gray-600">
        {{ posts.meta.pagination.total - posts.meta.pagination.limit }} more
        posts on
        <app-link url="https://manuel-rauber.com">manuel-rauber.com</app-link>
      </div>
      <div class="flex flex-1 items-center">
        <app-divider class="w-full" />
      </div>
    </div>
  } @else {
    <app-block-content> Loading blog entries... </app-block-content>
  }
</app-block>
